#ARQUIVO DE EXEMPLO
# para utilizar basta copiar o arquivo sem o .example e inserir suas configurações

#spring.profiles.active=test

spring.datasource.url=jdbc:mysql://localhost:3306/reclamagp_db
spring.datasource.username=root
spring.datasource.password=root

page.amount=10

spring.jpa.show-sql=true
#spring.jpa.hibernate.ddl-auto can be none, update, create, create-drop
spring.jpa.hibernate.ddl-auto=update
# control the sql db initialization (from schema.sql and data.sql)
#spring.datasource.initialization-mode=always


